<main class="supportContainer">
    <div class="supportContent">
        <h1>Soporte</h1>
        <div class="supportIcon">
            <img src="../../assets/headset.png" width="120">
        </div>
        <h3>Center of Recruitment Excellence
            (CORE)</h3>
        <span> 
            Nuestros más de 15 centros de reclutamiento especializado en toda la República Mexicana cuentan con reclutadores especializados por sector, lo cual garantiza que tendrás siempre al mejor candidato para tu negocio.
        </span>
    </div>
</main>