input{ 
    font-size: 16px;
    padding: 10px;
    border: 1px solid #007FFF;
    border-radius: 10px;
    outline: none;
    margin-bottom: 2em;
    margin: 1em;
    color: black;
    background-color: rgb(190, 222, 255);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.btn-flip{
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    
    &:hover{
      
      &:after{
        opacity: 1;
        transform: translateY(0) rotateX(0);
      }
      
      &:before{
        opacity: 0;
        transform: translateY(50%) rotateX(90deg);
      }
    }
    
    &:after{
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      color: white;
      display: block;
      transition: 0.5s;
      position: absolute;
      background: #007FFF;
      border-radius: 7px;
      content: attr(data-back);
      transform: translateY(-50%) rotateX(90deg);
    }
    
    &:before{
      top: 0;
      left: 0;
      opacity: 1;
      color: white;
      display: block;
      padding: 0 60px;
      line-height: 40px;
      transition: 0.5s;
      border-radius: 7px;
      position: relative;
      background: #0080ffd7;
      content: attr(data-front);
      transform: translateY(0) rotateX(0);
    }
  }

textarea{
    font-size: 16px;
    padding: 10px;
    border: 1px solid #007FFF;
    border-radius: 10px;
    outline: none;
    margin-bottom: 2em;
    margin: 2em;
    width: 520px;
    background-color: rgb(190, 222, 255);
}

h1{
    margin-bottom: 1em;
}

@media only screen and (max-width: 600px) {
  .inputForm{
    display: flex;
    flex-direction: column;
  }

  input{
    font-size: 13px;
    width: 230px;
  }

  h1{
    text-align: center;
    font-size: 18px;
    max-width: 340px;
  }

  textarea{
    max-width: 230px;
    font-size: 13px;
  }
}