<main>
    <form id="contacto">

        <h1>Ponte en contacto con nosotros.</h1>

        <div>
            <input type="text" id="name" placeholder="Nombre" name="name" required />
            
            <input type="text" id="lastName" placeholder="Apellido" name="lastName" required />
        </div>
        
        <div>
            <input type="text" id="city" placeholder="Ciudad" name="city" required />
            
            <input type="email" id="email" placeholder="Correo" name="email" required />
        </div>
        
        <textarea id="text" name="text" placeholder="Escribe tu mensaje aqui..."></textarea>
        
        <a href="#" class="btn-flip" data-back="Enviar" data-front="Enviar"></a>
    </form>
</main>